@model CustomerTypeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<partial name="ParialViews/DeleteDetailsView" />
<a asp-action="Update" asp-route-id = "@Model.Id" class="btn btn-outline-primary">Edit</a>
