@model CustomerTypeViewModel



<div class="form-group">
    <label asp-for="TypeName" class="col-form-label">Customer type name</label>
    <input asp-for="TypeName" class="form-control" />
    <span asp-validation-for="TypeName" class="table-danger"></span>
</div>
