@model CustomerViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form asp-action="Delete">
    <partial name="ParialViews/DeleteDetailsView" />
    <input class="btn btn-danger" asp-route-id = "@Model.Id" type="submit" value="Delete" />
    <a asp-action="Index" class="btn btn-primary">Cancel </a>
</form>
